# Regresion logística

## Las tablas de contingencia

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Gender Purchase.csv")

In [3]:
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [5]:
df.shape

(511, 2)

In [6]:
contingency_table = pd.crosstab(df["Gender"], df["Purchase"]) ##crea una tabla de contingencia de las columnas "Gender" y "Purchase"
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [7]:
contingency_table.sum(axis=1) ## suma por fila

Gender
Female    265
Male      246
dtype: int64

In [8]:
contingency_table.sum(axis=0) ## suma por columna

Purchase
No     231
Yes    280
dtype: int64

In [9]:
contingency_table.astype("float").div(contingency_table.sum(axis=1), axis=0) ## a la columna la divide por la suma de la fila. de esta manera obtiene los porcentajes.

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

# La probabilidad condicional

* ¿Cuál es la probabilidad que un cliente compre un producto sabiendo que es hombre?
* ¿Cuál es la probabilidad sabiendo que un cliente compra el producto sea mujer?

In [11]:
from IPython.display import display, Math, Latex

#### ¿Cuál es la probabilidad que un cliente compre un producto sabiendo que es hombre?

In [25]:
display(Math(r"P(Purchase|Male) = \frac{numero\ total\ de\ compras\ hechas\ por\ hombres}{numero\ total\ de\ hombres\ del\ grupo}"))
121/246

0.491869918699187

#### ¿Cuál es la probabilidad sabiendo que un cliente compra el producto sea mujer?

In [26]:
display(Math(r"P(Female|Purchase) = \frac{numero\ total\ de\ compras\ hechas\ por\ mujeres}{numero\ total\ de\ compras}"))
159/280

0.5678571428571428

### Los cuatro casos posibles serían:

In [29]:
display(Math(r"P(Purchase|Male)"))
print(121/246)

display(Math(r"P(No\ Purchase|Male)"))
print(125/246)

display(Math(r"P(Purchase|Female)"))
print(159/265)

display(Math(r"P(No\ Purchase|Female)"))
print(106/265)

0.491869918699187

0.508130081300813

0.6

0.4